<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/main_styles.css" asp-append-version="true">﻿
<div class="container" style="margin-top:150px">
	<div class="row">
		<div class="col-md-12">
			<h2>Forgot Password Confirmation</h2>
			<p>
				Please check your email to reset your password.
			</p>
		</div>
	</div>
</div>
