@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
	Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section naviheader{
	<!-- Left navbar links -->
	<ul class="navbar-nav">
		<li class="nav-item">
			<a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
		</li>
		<li class="nav-item d-none d-sm-inline-block">
			<a href="/admin/home" class="nav-link">Trang chủ</a>
		</li>
		<li class="nav-item d-none d-sm-inline-block">
			<a href="/admin/order" class="nav-link">Danh sách đơn hàng</a>
		</li>
	</ul>
}

<div class="container-fluid">
	<div class="row">
		<div class="col-md-6">
			<div class="card card-danger">
				<div class="card-header">
					<h3 class="card-title">Donut Chart</h3>

					<div class="card-tools">
						<button type="button" class="btn btn-tool" data-card-widget="collapse">
							<i class="fas fa-minus"></i>
						</button>
						<button type="button" class="btn btn-tool" data-card-widget="remove">
							<i class="fas fa-times"></i>
						</button>
					</div>
				</div>
				<div class="card-body">
					<div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
					<canvas id="donutChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%; display: block; width: 423px;" width="423" height="250" class="chartjs-render-monitor"></canvas>
				</div>
				<!-- /.card-body -->
			</div>
		</div>
		<div class="col-md-6">
		</div>
	</div>
</div>
@section scripts{
	<script src="~/Content/assets/plugins/chart.js/Chart.min.js"></script>

	<script>
		$(function () {
			/* ChartJS
			 * -------
			 * Here we will create a few charts using ChartJS
			 */




			//-------------
			//- DONUT CHART -
			//-------------
			// Get context with jQuery - using jQuery's .get() method.
		
				$.ajax({
					url: '/admin/Statistical/GetDonutStatistical',
					type: 'GET',
					success: function (response) {
						var donutData = {
							labels: response.labels,
							datasets: [{
								data: response.data,
								backgroundColor: ['#f56954', '#00a65a', '#f39c12', '#00c0ef', '#3c8dbc', '#d2d6de'],
							}]
						};

						var donutOptions = {
							maintainAspectRatio: false,
							responsive: true,
						};

						var donutChartCanvas = $('#donutChart').get(0).getContext('2d');
						new Chart(donutChartCanvas, {
							type: 'doughnut',
							data: donutData,
							options: donutOptions
						});
					}
				});
			});


	</script>
}