@model Posts
@{
    ViewBag.Title = "Chi tiết bài viết";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/main_styles.css">
<style>
    .news_section_container {
        margin-top: 180px;
    }

    .title-news {
        font-size: 24px;
        border-bottom: 1px solid;
        padding: 15px 0;
        margin-bottom: 25px;
    }

    .img-box img {
        max-width: 100%;
        max-height: 100%;
    }

    .row-item-new {
        margin-bottom: 20px;
    }
</style>
<div class="container news_section_container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="title-news">@Model.Title</h1>
        </div>
    </div>
    @if (Model != null)
    {

        <div class="row">
            <div class="col-md-12">
                @Model.Description
            </div>
            <div class="col-md-12">
                @Html.Raw(Model.Detail)
            </div>
        </div>
    }

</div>

