@{
    ViewBag.Title = "CheckOut";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/categories_styles.css">
<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/categories_responsive.css">
<style>
    .error {
        color: red;
    }
</style>
<div class="container product_section_container">
    <div class="row">
        <div class="col product_section clearfix">

            <!-- Breadcrumbs -->

            <div class="breadcrumbs d-flex flex-row align-items-center">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li class="active">
                        <a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Thanh toán</a>
                    </li>
                </ul>
            </div>

            <!-- Sidebar -->
            <!-- Main Content -->
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1>Thanh toán</h1>
                    <p>Bạn hãy kiểm tra lại thông tin đơn hàng cho chính xác</p>
                </div>
            </div>
            <hr />
            @if (ViewBag.CheckCart != null)
            {
                <div class="row" id="show_success">
                    <div class="col-md-9">
                        <div id="load_send">
                        </div>
                        @await Component.InvokeAsync("PartialCheckOut")
                    </div>
                    <div class="col-md-3">
                        @await Component.InvokeAsync("PartialPay")
                    </div>
                </div>
            }
            else
            {
                <div>
                    Bạn chưa có sản phẩm nào. Vui lòng quay lại trang <a href="/san-pham">sản phẩm</a> để mua hàng
                </div>
            }

        </div>
    </div>
</div>

@section scripts{
    <script src="~/Content/assets/js/categories_custom.js"></script>
    <script>
        function OnBeginCO() {
            $('#btn-success').attr("disabled", "disabled");
            $('#loading').show();
        }
        function OnSuccessCO(res) {
            $('#loading').hide();
            $('#btn-success').removeAttr("disabled");
            if (res.success) {
                if (res.code == 1) {
                    location.href = "/ShoppingCart/CheckOutSuccess";
                }
                else {
                    location.href = res.url;
                }
            }
        }
        function OnFailureCO() {
            $('#loading').hide();
            $('#btn-success').removeAttr("disabled");
        }
        // function OnFailure(rs) {
        //     if (!rs.Success) {
        //         $('#show_success').html("Bạn đã mua hàng thất bại!Vui lòng thử lại")
        //     }
        // }
        $(document).ready(function () {
            $('body').on('change', '#drTypePayment', function () {
                var type = $(this).val();
                $('#load_form_payment').hide();
                if (type == "2") {
                    $('#load_form_payment').show();
                }
            });
            $('#myForm').validate({
                rules: {
                    'CustomerName': {
                        required: true
                    },
                    'Phone': {
                        required: true
                    },
                    'Address': {
                        required: true
                    },
                    'Email': {
                        required: true,
                        email: true
                    },
                },
                messages: {
                    'CustomerName': 'Bạn không được để trống trường này',
                    'Phone': 'Bạn không được để trống trường này',
                    'Address': 'Bạn không được để trống trường này',
                    'Email': 'Email chưa hợp lệ',

                }
            })
        })
    </script>
}


