@model Subscribe
<link href="~/loading/loadinganimation.css" rel="stylesheet" />
<div class="newsletter">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="newsletter_text d-flex flex-column justify-content-center align-items-lg-start align-items-md-center text-center">
                    <h4>Newsletter</h4>
                    <p>Subscribe to our newsletter and get 20% off your first purchase</p>
                </div>
            </div>
            <div class="col-lg-6">
                <form asp-action="Subscribe" asp-controller="Home" method="post"
                      data-ajax="true"
                      data-ajax-method="POST"                  
                      data-ajax-begin="OnBeginSub"
                      data-ajax-success="OnSuccessSub"
                      data-ajax-failure="OnFailureSub">
                {
                    @Html.AntiForgeryToken()
                   
                    <div class="newsletter_form d-flex flex-md-row flex-column flex-xs-column align-items-center justify-content-lg-end justify-content-center">
                        @*@Html.TextBoxFor(x => x.Email, new {@placeholder="Your Email"})*@
                        <input id="newsletter_email" class="checkXSS" type="email" name="Email" placeholder="Your email" required="required" data-error="Valid email is required.">
                        <button id="btnSubmitCheck" type="submit" class="newsletter_submit_btn trans_300" value="Submit">subscribe</button>
                    </div>
                    <div id="loading" class="loading-spinner" style="display:none;"></div>
                }
                </form>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajax-unobtrusive/3.2.6/jquery.unobtrusive-ajax.min.js" integrity="sha256-v2nySZafnswY87um3ymbg7p9f766IQspC5oqaqZVX2c=" crossorigin="anonymous"></script>

    <script>
        function OnBeginSub() {
            $('#loading').show();
        }
        function OnSuccessSub(rs) {
            $('#loading').hide();
            if (rs.success) {
                notyf.success("Đăng ký thành công");
            }
            else{
                notyf.error("Đăng ký thất bại");
            }
        }
        function OnFailureSub(rs) {

        }
    </script>
}
