@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Thống kê</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Thống kê</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>


<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-md-3">
                    <p>Từ ngày</p>
                    <input type="date" id="fromDate" value="" class="form-control" />
                </div>
                <div class="col-md-3">
                    <p>Đến ngày</p>
                    <input type="date" id="toDate" value="" class="form-control" />
                </div>
                <div class="col-md-3">
                    <p></p>
                    <button type="submit" class="btn btn-sm btn-success btnLoc" style="cursor:pointer">Lọc</button>
                </div>
                <div class="col-md-3">
                </div>
            </div>


            <div class="card-tools">
                <a href="/admin/posts/add" class="btn btn-primary">Thêm mới</a>
                <a href="#" class="btn btn-danger" id="BtnDeleteAll">Xóa</a>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-8">
                    <div class="chart">
                        <canvas id="barChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                    </div>
                </div>
                <div class="col-md-4">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Ngày</th>
                                <th>Doanh thu</th>
                                <th>Lợi nhuận</th>
                            </tr>
                        </thead>
                        <tbody id="load_data"></tbody>
                    </table>
                </div>
            </div>

        </div>
        <!-- /.card-body -->
        <div class="card-footer">
        </div>
        <!-- /.card-footer-->
    </div>
    <!-- /.card -->

</section>
<!-- /.content -->
@section scripts{
    <script src="~/Content/assets/plugins/moment/moment.min.js"></script>
    <script src="~/Content/assets/plugins/chart.js/Chart.min.js"></script>
    <script>
        $(function () {
            /* ChartJS
             * -------
             * Here we will create a few charts using ChartJS
             */
            processData('', '');

            $('body').on('click', '.btnLoc', function () {
                //debugger;
                var fromdate = $('#fromDate').val();
                var todate = $('#toDate').val();
                var from = '';
                if (fromdate.trim() !== '') {
                    from = moment(fromdate).format("DD/MM/YYYY");
                }

                var to = '';
                if (todate.trim() !== '') {
                    to = moment(todate).format("DD/MM/YYYY");
                }

                // Xóa biểu đồ hiện tại từ canvas
                var barChartCanvas = $('#barChart');
                var chart = barChartCanvas.data('chart');
                if (chart) {
                    chart.destroy(); // Hủy biểu đồ hiện tại nếu tồn tại
                }

                // Vẽ canvas mới
                $('#barChart').remove(); // Xóa canvas cũ
                $('.chart').append('<canvas id="barChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>');

                processData(from, to);
            })


        })
        function load_data(data) {
            var strHtml = "";
            $.each(data, function (i, item) {
                var strDate = moment(item.date).format("DD/MM/yyyy");
                strHtml += "<tr>";
                strHtml += "<td>" + (i + 1) + "</td>";
                strHtml += "<td>" + strDate + "</td>";
                strHtml += "<td>" + item.doanhThu + "</td>";
                strHtml += "<td>" + item.loiNhuan + "</td>";
                strHtml += "</tr>";
            });
            $('#load_data').html(strHtml);
        };
        function processData(fromDate, toDate) {
            var arrDoanhThu = [];
            var arrLoiNhuan = [];
            var arrDate = [];
            $.ajax({
                url: '/admin/Statistical/GetStatistical',
                type: 'GET',
                data: { fromDate: fromDate, toDate: toDate },
                success: function (rs) {
                    console.log(rs);
                    $.each(rs.data, function (i, item) {
                        var strDate = moment(item.date).format('DD/MM/yyyy');
                        console.log(strDate);
                        arrDate.push(strDate);
                        arrDoanhThu.push(item.doanhThu);
                        arrLoiNhuan.push(item.loiNhuan);
                    });
                    var areaChartData = {
                        labels: arrDate,
                        datasets: [
                            {
                                label: 'Lợi nhuận',
                                backgroundColor: 'rgba(60,141,188,0.9)',
                                borderColor: 'rgba(60,141,188,0.8)',
                                pointRadius: false,
                                pointColor: '#3b8bba',
                                pointStrokeColor: 'rgba(60,141,188,1)',
                                pointHighlightFill: '#fff',
                                pointHighlightStroke: 'rgba(60,141,188,1)',
                                data: arrLoiNhuan
                            },
                            {
                                label: 'Doanh thu',
                                backgroundColor: 'rgba(210, 214, 222, 1)',
                                borderColor: 'rgba(210, 214, 222, 1)',
                                pointRadius: false,
                                pointColor: 'rgba(210, 214, 222, 1)',
                                pointStrokeColor: '#c1c7d1',
                                pointHighlightFill: '#fff',
                                pointHighlightStroke: 'rgba(220,220,220,1)',
                                data: arrDoanhThu
                            },
                        ]
                    }


                    //-------------
                    //- BAR CHART -
                    //-------------
                    var barChartCanvas = $('#barChart').get(0).getContext('2d')
                    var barChartData = $.extend(true, {}, areaChartData)
                    var temp0 = areaChartData.datasets[0]
                    var temp1 = areaChartData.datasets[1]
                    barChartData.datasets[0] = temp1
                    barChartData.datasets[1] = temp0

                    var barChartOptions = {
                        responsive: true,
                        maintainAspectRatio: false,
                        datasetFill: false
                    }

                    new Chart(barChartCanvas, {
                        type: 'bar',
                        data: barChartData,
                        options: barChartOptions,

                    })
                    load_data(rs.data);
                }
            })
        }
    </script>
}

<!-- BAR CHART -->
<!--<div class="card card-success">
    <div class="card-header">
        <h3 class="card-title">Bar Chart</h3>

        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
            </button>
            <button type="button" class="btn btn-tool" data-card-widget="remove">
                <i class="fas fa-times"></i>
            </button>
        </div>
    </div>
    <div class="card-body">
        <div class="chart">
            <canvas id="barChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
        </div>
    </div>-->
<!-- /.card-body -->
<!--</div>-->
<!-- /.card -->
<!-- STACKED BAR CHART -->
<!--<div class="card card-success">
    <div class="card-header">
        <h3 class="card-title">Stacked Bar Chart</h3>

        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
            </button>
            <button type="button" class="btn btn-tool" data-card-widget="remove">
                <i class="fas fa-times"></i>
            </button>
        </div>
    </div>
    <div class="card-body">
        <div class="chart">
            <canvas id="stackedBarChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
        </div>
    </div>-->
<!-- /.card-body -->
<!--</div>-->
