@using ShoppingOnline.Areas.Admin.Models;
@model AddProductViewModel
@{
	ViewBag.Title = "Add";
	Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section naviheader{
	<!-- Left navbar links -->
	<ul class="navbar-nav">
		<li class="nav-item">
			<a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
		</li>
		<li class="nav-item d-none d-sm-inline-block">
			<a href="/admin/home" class="nav-link">Trang chủ</a>
		</li>
		<li class="nav-item d-none d-sm-inline-block">
			<a href="/admin/products" class="nav-link">Sản phẩm</a>
		</li>
		<li class="nav-item d-none d-sm-inline-block">
			<a href="#" class="nav-link">Thêm mới</a>
		</li>
	</ul>
}
<!-- Content Header (Page header) -->
<section class="content-header">
	<div class="container-fluid">
		<div class="row mb-2">
			<div class="col-sm-6">
				<h1>Thêm mới Sản phẩm</h1>
			</div>
			<div class="col-sm-6">
				<ol class="breadcrumb float-sm-right">
					<li class="breadcrumb-item"><a href="#">Sản phẩm</a></li>
					<li class="breadcrumb-item active">Thêm mới</li>
				</ol>
			</div>
		</div>
	</div><!-- /.container-fluid -->
</section>

<!-- /.content -->
<!-- Main content -->
<section class="content">

	<!-- Default box -->
	<div class="card">
		<div class="card-header">
			<h3 class="card-title">Thông tin thêm mới sản phẩm</h3>

		</div>
		<div class="card-body">
			<div class="row">
				<div class="col-md-12">
					<form method="post" action="add" enctype="multipart/form-data" id="productForm">
						<!-- your steps content here -->
						<div class="card">
							<div class="card-header p-2">
								<ul class="nav nav-pills">
									<li class="nav-item"><a class="nav-link active" href="#activity" data-toggle="tab">Thông tin chung</a></li>
									<li class="nav-item"><a class="nav-link" href="#timeline" data-toggle="tab">Hình ảnh</a></li>
									<li class="nav-item"><a class="nav-link" href="#settings" data-toggle="tab">SEO</a></li>
								</ul>
							</div><!-- /.card-header -->
							<div class="card-body">
								<div class="tab-content">
									<div class="active tab-pane" id="activity">
										<div class="form-group">
											<label for="exampleInputEmail1">Tên sản phẩm</label>
											<input asp-for="Title" class="form-control" placeholder="Tên sản phẩm" />
											<span asp-validation-for="Title" class="text-danger"></span>
										</div>

										<div class="form-group">
											<label for="exampleInputEmail1">Alias</label>
											<input asp-for="Alias" class="form-control" placeholder="Alias" />
											<span asp-validation-for="Alias" class="text-danger"></span>
										</div>

										<div class="form-group">
											<label for="exampleInputEmail1">SKU</label>
											<input asp-for="ProductCode" class="form-control" placeholder="SKU" />
											<span asp-validation-for="ProductCode" class="text-danger"></span>
										</div>

										<div class="form-group">
											<label for="exampleInputEmail1">Danh mục</label>
											<select asp-for="ProductCategoryID" asp-items="ViewBag.ProductCategory" class="form-control">
												<option value="">-Chọn danh mục sản phẩm-</option>
											</select>
											<span asp-validation-for="ProductCategoryID" class="text-danger"></span>
										</div>

										<div class="form-group">
											<label for="exampleInputEmail1">Mô tả</label>
											<input asp-for="Description" class="form-control" placeholder="Mô tả" />
											<span asp-validation-for="Description" class="text-danger"></span>
										</div>

										
										<div class="form-group">
											<label asp-for="Detail">Chi tiết</label>
											<textarea asp-for="Detail" class="form-control" id="txtDetail"></textarea>
										</div>
										<div class="row">
											<div class="col-3">
												<div class="form-group">
													<label for="exampleInputEmail1">Số lượng</label>
													<input asp-for="Quantity" class="form-control" value="1" />
													<span asp-validation-for="Quantity" class="text-danger"></span>
												</div>
											</div>
											<div class="col-3">
												<div class="form-group">
													<label for="exampleInputEmail1">Giá</label>
													<input type="text" name="demoPrice" id="demoPrice" value="0" class="form-control auto" data-a-dec="," data-a-sep="." />
													<input asp-for="Price" type="hidden" />
													<span asp-validation-for="Price" class="text-danger"></span>
												</div>
											</div>
											<div class="col-3">
												<div class="form-group">
													<label for="exampleInputEmail1">Giá khuyến mãi</label>
													<input type="text" name="demoPriceSale" id="demoPriceSale" value="0" class="form-control auto" data-a-dec="," data-a-sep="." />
													<input asp-for="PriceSale" type="hidden" />
													<span asp-validation-for="PriceSale" class="text-danger"></span>
												</div>
											</div>
											<div class="col-3">
												<div class="form-group">
													<label for="exampleInputEmail1">Giá nhập</label>
													<input type="text" name="demoOriginalPrice" id="demoOriginalPrice" value="0" class="form-control auto" data-a-dec="," data-a-sep="." />
													<input asp-for="OriginalPrice" type="hidden" />
													<span asp-validation-for="OriginalPrice" class="text-danger"></span>
												</div>
											</div>
										</div>

										<div class="row">
											<div class="col-3">
												<div class="form-group">
													<div class="custom-control custom-checkbox">
														<input asp-for="IsActive" class="custom-control-input" id="customCheckbox2" checked />
														<label for="customCheckbox2" class="custom-control-label">Hiển thị</label>
													</div>
												</div>
											</div>
											<div class="col-3">
												<div class="form-group">
													<div class="custom-control custom-checkbox">
														<input asp-for="IsHot" class="custom-control-input" id="IsHotCheckbox2" />
														<label for="IsHotCheckbox2" class="custom-control-label">Hot</label>
													</div>
												</div>
											</div>
											<div class="col-3">
												<div class="form-group">
													<div class="custom-control custom-checkbox">
														<input asp-for="IsFeature" class="custom-control-input" id="IsFeatureCheckbox" />
														<label for="IsFeatureCheckbox" class="custom-control-label">Nổi bật</label>
													</div>
												</div>
											</div>
											<div class="col-3">
												<div class="form-group">
													<div class="custom-control custom-checkbox">
														<input asp-for="IsSale" class="custom-control-input" id="IsSaleCheckbox" />
														<label for="IsSaleCheckbox" class="custom-control-label">Khuyến mãi</label>
													</div>
												</div>
											</div>
										</div>


									</div>
									<!-- /.tab-pane -->
									<div class="tab-pane" id="timeline">
										<div class="row">
											<div class="col-md-12 text-right">
												<input type="file" id="fileInput" style="display:none" name="Images" multiple />
												<input type="button" id="iTaiAnh" class="btn btn-primary" value="Tải Ảnh" />
											</div>
											<div class="col-md-12">
												<table class="table table-hover" id="tbAnhSanPham">
													<thead>
														<tr>
															<th class="text-center">#</th>
															<th class="text-center">Ảnh</th>
															<th class="text-center">Ảnh đại diện</th>
															<th class="text-center">Thao tác</th>
														</tr>
													</thead>
													<tbody id="tbHtml">
													</tbody>
												</table>
												<input type="hidden" id="tCurrentId" value="0" />
											</div>
										</div>

									</div>
									<!-- /.tab-pane -->
									<div class="tab-pane" id="settings">
										<form class="form-horizontal">
											<div class="form-group">
												<label asp-for="SeoTitle">Seo title</label>
												<input asp-for="SeoTitle" class="form-control"/>
												
											</div>
											<div class="form-group">
												<label asp-for="SeoDescription">Seo Description</label>
												<input asp-for="SeoDescription" class="form-control"/>
											</div>
											<div class="form-group">
												<label asp-for="SeoKeywords">SeoKeywords</label>
												<input asp-for="SeoKeywords" class="form-control"/>
											</div>

										</form>
									</div>
									<!-- /.tab-pane -->
								</div>
								<!-- /.tab-content -->
							</div><!-- /.card-body -->
							<div class="form-group">
								<button class="btn btn-primary">Thêm mới</button>
							</div>
						</div>
					</form>



				</div>
			</div>
		</div>
		<!-- /.card-body -->
		<div class="card-footer">
		</div>
		<!-- /.card-footer-->
	</div>

	<!-- /.card -->

</section>
<!-- /.content -->
@section scripts{
	<script>
		$(document).ready(function () {
			$('.auto').autoNumeric('init');
			$('#iTaiAnh').click(function () {
				$('#fileInput').click(); // Mở hộp thoại chọn file
			});

			$('#fileInput').change(function () {
				var files = this.files;
				if (files.length > 0) {
					for (let i = 0; i < files.length; i++) {
						var reader = new FileReader();
						reader.onload = function (e) {
							var url = e.target.result;
							addImageProduct(url, files[i]);
						};
						reader.readAsDataURL(files[i]); // Đọc file ảnh dưới dạng Data URL
					}
				}
			});


		
			$('#demoPrice').bind('blur focusout keypress keyup', function () {
				var demoGet = $('#demoPrice').autoNumeric('get');
				$('#Price').val(demoGet);
				$('#Price').autoNumeric('set', demoGet);
			});
			$('#demoPriceSale').bind('blur focusout keypress keyup', function () {
				var demoGet = $('#demoPriceSale').autoNumeric('get');
				$('#PriceSale').val(demoGet);
				$('#PriceSale').autoNumeric('set', demoGet);
			});
			$('#demoOriginalPrice').bind('blur focusout keypress keyup', function () {
				var demoGet = $('#demoOriginalPrice').autoNumeric('get');
				$('#OriginalPrice').val(demoGet);
				$('#OriginalPrice').autoNumeric('set', demoGet);
			});
			CKEDITOR.replace('txtDetail', {
				customConfid: '/content/ckeditor/config.js',
				extraAllowedContent: 'span',
			});
			$('body').on('click', '.btnXoaAnh', function () {

				var conf = confirm('Bạn có chắc chắn muốn xóa ảnh này không?');
				if (conf === true) {
					var _id = $(this).data('id');
					$('#trow_' + _id).fadeTo('fast', 0.5, function () {
						$(this).slideUp('fast', function () {
							$(this).remove();
							
						});
					});
					var temp = $('#tCurrentId').val();
					var currentId = parseInt(temp) - 1;
					$('#tCurrentId').val(currentId);
				}
			});
		});

		function addImageProduct(url, file) {
			var temp = $("#tCurrentId").val();
			var currentId = parseInt(temp) + 1;
			var str = `
				<tr id="trow_${currentId}">
					<td class="text-center">${currentId}</td>
					<td class="text-center">
						<img width="80" src="${url}"/>
								<input type='hidden' value="${file.name}" name="Images" />
					</td>
					<td class="text-center">
						<input type="radio" name="rDefault" ${currentId == 1 ? 'checked="checked"' : ''} value="${currentId}" />
					</td>
					<td class="text-center">
						<a href="#" data-id="${currentId}" class="btn btn-sm btn-danger btnXoaAnh">Xóa</a>
					</td>
				</tr>`;
			$('#tbHtml').append(str);
			$("#tCurrentId").val(currentId);
		}
		
	</script>
}

